<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <title>Редактировать данные команды</title>
</head>
<body>
<h3>Редактировать данные команды</h3>
<div class="row">
  <div class="col-md-3 ms-3">
    <form action="#" th:action="@{/allTeams/saveEdit}" method="post" th:object="${team}" >
      <div class="form-group p-2">
        <label> Id команды: </label>
        <input type="text" th:field="*{id}" readonly="readonly" class="form-control"/>
      </div>
      <div class="form-group p-2">
        <label> Название команды: </label>
        <input type="text" th:field="*{teamName}" class="form-control"/>
      </div>
      <div class="form-group p-2">
        <label> Страна: </label>
        <input type="text" th:field="*{country}" class="form-control"/>
      </div>
      <div class="form-group p-2">
        <label> Город: </label>
        <input type="text" th:field="*{city}" class="form-control"/>
      </div>
      <div class="row">
      <div class="col form-group p-4">
        <button type="submit" class="btn btn-primary" >Отправить</button>
      </div>
      <div class=" col form-group p-4">
        <a th:href="@{/allTeams}">
          <button type="button" class="btn btn-secondary">Отмена</button>
        </a>
      </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>